<div class="footer-container">
    <div class="logo">
        <h3>SP Office</h3>
        <p>Best SP Office management app. One destination for managing your team effectively and seemlessly</p>
    </div>

    <div *ngFor="let block of footerLinks" class="footerBlock">
        <h3>{{block.blockTitle}}</h3>
        <div class="link" *ngFor="let link of block.links">
            <a href={{link.link}}>{{link.title}}</a>
        </div>
    </div>
    <div class="copyright">copyright © SP Office</div>
</div>
