@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.footer-container {
    font-family: "Nunito", sans-serif;
    width: 100vw;
    position: fixed;
    bottom:0px;
    background-color:rgb(110, 172, 213) ;
    color: aliceblue;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
}

.logo, .footerBlock {
    width: 20vw;
    
   
}

a {
    text-decoration: none;
    color: aliceblue;
}

.copyright {
    margin-top: 10px;
    width: 100vw;
    height: 20px;
    font-size: 12px;

}