@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.navbar-container {
  background-color: #ffffff24;
  height: 36px;
  width: 60vw;
  max-width: 500px;
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
}

.nav-element {
  padding: 0px 10px;
  height: 90%;
  width: 18%;
  max-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 10px;
  transition: all 0.1s linear;
}

.nav-element:hover {
  background-color: #ffffff28;
}

.nav-element img {
  height: 40%;
  width: auto;
  margin-right: 5%;
}

.active {
  background-color: rgb(168, 209, 237);
  scale: 1.1;
  box-shadow: 1px 1px 3px black;
}

.active:hover {
  background-color: rgb(168, 209, 237);
  z-index: 10;
}

.logOut {
  background-color: rgba(255, 221, 0, 0.481);
}

.logOut:hover {
  background-color: rgba(255, 221, 0, 0.481);
}

@media (max-width: 470px) {
  .nav-element {
    flex-direction: column;
    font-size: 2px;
  }
}

@media (max-width: 600px) {
  .nav-element {
    flex-direction: column;
    font-size: 10px;
  }
}
